<div id="contents">
	<div class="box">
		<div>
			<div class="body">
				<h1>Welcome to {{title}}</h1>
				<p>Your gateway to amazing travel experiences!</p>
				<p>Explore our travel destinations, book comfortable rooms, and enjoy delicious meals.</p>
			</div>
		</div>
	</div>
</div>
